.contacts__list {
  height: 480px;
  list-style: none;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
  /* border: 1px solid grey; */
  border-radius: 2%;
  background-color: rgb(51, 47, 47);
}
.contacts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(39, 36, 36);

  border-radius: 10px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 1px;
}
::-webkit-scrollbar {
  display: none;
}

button {
  background-color: rgb(39, 36, 36);
  cursor: pointer;
  border: none;
  outline: none;
}

.loader {
  text-align: center;
}
